@import "fonts"
@import "libs"
@import "base"
@import "vars"


// Верхний баннер

.top-banner
	background-color: #0066a1
	color: #fff
	text-align: center
	font-size: 13.95px
	text-align: 19.93px
	font-weight: 900
	padding: 14px 0
	p
		position: relative
		max-width: 792px
		margin: auto

// Кнопка закрытия баннера

.close
	display: inline-block
	position: absolute
	top: -1px
	right: 7px
	width: 22px
	height: 22px
	cursor: pointer
	border: 1px solid #fff
	border-radius: 50%

.close::before,
.close::after
	content: ""
	position: absolute
	top: 9px
	left: 4px
	width: 12px
	height: 2px
	background: #fff

.close::before
	webkit-transform: rotate(45deg)
	transform: rotate(45deg)

.close::after
	webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)

// header

header
	padding: 0 10px

.wrapper
	width: 1200px
	margin: auto
	position: relative

.logo
	position: absolute
	left: 0
	top: 10px

.menu, .lang-panel, .search
	float: left

.menu
	ul
		margin-left: 117px
		list-style-type: none
		li
			display: inline-block
			margin: 25px 14px
			a
				text-decoration: none
				text-transform: uppercase
				color: #292929
				font-weight: 700
				font-size: 13px
				text-align: 19.93px
				transition: color 0.25s ease
				position: relative
				&::after
					content: ""
					position: absolute
					width: 0
					height: 2px
					background-color: $active
					bottom: -3px
					right: 0
					left: 0
					transition: all .25s
				&:hover
					color: $active
					&::after
						width: 100%
			&.active
				a
					color: $active
					font-weight: 900
					&::after
						width: 100%
	
.lang-panel
	ul
		margin-left: 13px
		list-style-type: none
		li
			display: inline-block
			margin: 25px 10px
			position: relative
			a
				text-decoration: none
				text-transform: uppercase
				color: #292929
				font-weight: 500
				font-size: 13.95px
				text-align: 19.93px
				transition: color 0.25s ease
				&:hover
					color: $active
			&.active
				a
					color: $active
					font-weight: 900
			&:last-child
				&::before
					content: ""
					position: absolute
					top: 6px
					left: -13px
					width: 1px
					height: 14px
					background-color: #dddddd
	
.search
	width: 24px
	height: 24px
	background: url(../img/magnifying-glass.png) no-repeat
	margin: 24px 0 0 70px
	cursor: pointer

// Slider

.slider
	background-image: url(../img/slider-bg.jpg)
	background-size: cover
	padding-top: 25px
	h1
		text-align: center	
		font-family: NotoSerifItalic-db, serif
		color: #ffffff
		font-size: 22px
		line-height: 15.94px
		font-weight: normal
	&-item
		max-width: 666px
		padding-top: 38px
		background-color: #f9f9fa
		opacity: 0.96
		border-radius: 5px
		text-align: center
		h2
			font-weight: 900
			font-size: 12.95px
			text-transform: uppercase
			color: #fab330





@import "media" // Всегда в конце
